.bg-danger {
  background-color: $alert-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-orange {
  background-color: $orange;
}

.bg-success {
  background-color: $success-color;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-cover {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}