.tag {
  display: inline-block;
  padding: rem-calc(3 5);
  background-color: $alert-color;
  color: $white;
  font-size: rem-calc(10);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: rem-calc(5);
}

.anchor-title {
  line-height: 1.2;
  font-weight: 700;
  font-size: rem-calc(18);
  a {
    color: #454545;
    &:hover {
      color: $primary-color;
    }
  }
}

.title-1 {
  @extend .anchor-title;

  @include breakpoint(medium) {
    font-size: rem-calc(22);
  }
}

.title-2 {
  @extend .anchor-title;

  @include breakpoint(medium) {
    font-size: rem-calc(18);
  }
}

.title-3 {
  @extend .anchor-title;

  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }
}

.except {
  font-size: rem-calc(13);
  color: $medium-gray;
  font-style: italic;
}

.featured-news, .three-news-vertical-section {
  @include breakpoint(medium only) {
    .title-1 {
      margin-bottom: rem-calc(20);
    }
  }
  @include breakpoint(small only) {
    .title-1 {
      font-size: rem-calc(16);
      margin-bottom: rem-calc(20);
    }
    .title-2, .title-3 {
      font-size: rem-calc(14);
    }
  }
}