.section-container {
  background-color: #f1f1f1;
  height: rem-calc(40);
}

.section-header {
  margin-bottom: rem-calc(20);

  h2,span {
    display: inline-block;
    text-transform: uppercase;
    line-height: rem-calc(40);
  }

  h2 {
    background-color: $primary-color;
    color: $white;
    font-size: rem-calc(14);
    padding: rem-calc(0 10);
    font-weight: 700;
  }

  i {
    opacity: .6;
  }

  span {
    padding-right: rem-calc(10);

    a {
      font-size: rem-calc(12);
      background-color: $light-gray;
      padding: rem-calc(3);
      color: $white;
      border-radius: rem-calc(3);

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  //@include breakpoint(medium) {
  //  h2 {
  //    font-size: rem-calc(20);
  //  }
  //}
}

.three-news-section {
  @include breakpoint(small only) {
    .card-blog {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: rem-calc(20);
    }

    .ads-container {
      padding: 0 !important;
    }
  }
}

.three-news-vertical-section {
  @include breakpoint(medium) {
    .thumb-1 {
      width: rem-calc(160);
      height: rem-calc(160);
    }
  }
}

.programacao-radios {
  .tabs-content {
    height: rem-calc(237);
    overflow-x: auto;
  }

  .media-object {
    border-bottom: 1px solid $light-gray;
  }
}

.thumb-locutor {
  width: rem-calc(60);
  height: rem-calc(60);
  border-radius: 50%;
  border: 2px solid $light-gray;
  overflow: hidden;
}

.programacao-block {
  height: rem-calc(60);
  padding-top: rem-calc(10);
  h4 {
    color: $primary-color;
  }

  @include breakpoint(medium) {
    h4 {
      font-size: rem-calc(18);
      font-weight: 700;
    }
  }
}

.footer-news {
  .tabs {
    border: none;
    background-color: transparent;
  }
  .tabs-content {
    height: inherit;
    overflow-x: visible;
    border-top: 1px solid $light-gray;
  }
  .tabs-title {
    text-transform: uppercase;
    background-color: $primary-color;
    &:not(:last-child) {
      margin-right: rem-calc(0.5);
    }
    a {
      color: $white;
      &:hover {
        color: $primary-color;
      }
    }

    &.is-active {
      background: $white;

      a {
        color: $primary-color;
      }
    }
  }
}