.single-content {
  p {
    color: lighten($black, 20%);
  }
}

.comments-title {
  font-weight: 800;
  text-transform: uppercase;
  color: $dark-gray;
  font-size: rem-calc(16);
  border-bottom: 1px solid $light-gray;
}

// category

.list-news-item {
  border-bottom: 1px dashed $light-gray;
  &:last-child {
    border: none;
  }
}