<footer id="footer" class="width-100 margin-top-2">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12 text-center">
                <h4><strong>Patamuté FM 94.5 - Rádion Difusora Cajazeiras</strong></h4>
            </div>

            <div class="cell small-12 text-center show-for-medium">
                <ul class="menu align-center">
                    <li><a href="#">Cidades</a></li>
                    <li><a href="#">Cajazeiras</a></li>
                    <li><a href="#">Paraíba</a></li>
                    <li><a href="#">Brasil</a></li>
                    <li><a href="#">Mundo</a></li>
                    <li><a href="#">Entretenimento</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>