<div class="grid-x grid-padding-x">
    <div class="cell small-12 section-header">
        <div class="grid-x">
            <div class="cell small-12 section-container">
                <div class="grid-x">
                    <div class="cell auto text-left">
                        <h2 class="margin-0"><i class="fas fa-music"></i> Nossos Eventos</h2>
                    </div>
                    <div class="cell auto text-right">
                        <span><a href="#">Todos</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cell small-12 margin-bottom-1">
        <div class="events-container width-100">
            <figure class="width-100 height-100 position-relative" data-bgcover="https://d2mgjklx3g72dk.cloudfront.net/uploaded_images/estabelecimentos/204222_shutterstock_85807288.jpg.1000x390_q60_box-7,140,1050,546_crop_detail.jpg">
                <a href="#" class="slider-tag display-block position-absolute position-left">São João 2018</a>
                <figcaption class="width-100 position-absolute position-bottom position-left">
                    <h2><a href="#" class="display-block width-100">VÍDEO: cantor Gusttavo Lima agita e leva recorde de público na 2ª noite do São João de Sousa</a></h2>
                </figcaption>
            </figure>
        </div>
    </div>
</div>