<div class="cell small-12 main-menu">
    <div class="grid-x grid-padding-x show-for-large">
        <div class="cell shrink">
            <a href="template-page-radio.html" class="hollow small h-invert button margin-bottom-0 text-uppercase"><i class="fas fa-play-circle"></i> Ouça Patamuté FM 94.5</a>
        </div>

        <div class="cell auto padding-0">
            <ul class="menu align-center">
                <li><a href="category.html">Cidades</a></li>
                <li><a href="category.html">Cajazeiras</a></li>
                <li><a href="category.html">Paraíba</a></li>
                <li><a href="category.html">Brasil</a></li>
                <li><a href="category.html">Mundo</a></li>
                <li><a href="category.html">Entretenimento</a></li>
            </ul>
        </div>

        <div class="cell shrink text-right">
            <a href="#" class="hollow small h-invert button margin-bottom-0 text-uppercase"><i class="fas fa-play-circle"></i> Ouça Difusora Rádio</a>
        </div>
    </div>
</div>