<div class="menu-offcanvas position-fixed-top height-100 hide-for-large padding-top-3 position-relative">
    <button class="close-button position-absolute toggle-offcanvas" aria-label="Close alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <ul class="dropdown menu vertical" data-dropdown-menu>
        <li>
            <a href="#">Programação</a>
            <ul class="menu theme">
                <li><a href="#">Patamuté FM 94.5</a></li>
                <li><a href="#">Difusora Rádio Cajazeiras</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Notícias</a>
            <ul class="menu theme">
                <li><a href="#">Cidades</a></li>
                <li><a href="#">Cajazeiras</a></li>
                <li><a href="#">Paraíba</a></li>
                <li><a href="#">Brasil</a></li>
                <li><a href="#">Mundo</a></li>
                <li><a href="#">Entretenimento</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Contato</a>
        </li>
    </ul>
</div>

<a href="#" class="close-menu-offcanvas toggle-offcanvas position-fixed-top height-100 width-100 display-block" data-close-offcanvas></a>