<div class="grid-x grid-padding-x top-bar">
    <div class="cell small-6 text-left show-for-large">
        <ul class="dropdown menu top-menu" data-dropdown-menu>
            <li>
                <a href="#">Programação</a>
                <ul class="menu theme">
                    <li><a href="#">Patamuté FM 94.5</a></li>
                    <li><a href="#">Difusora Rádio Cajazeiras</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Notícias</a>
            </li>
            <li>
                <a href="#">Contato</a>
            </li>
        </ul>
    </div>

    <div class="cell small-6 text-right show-for-large">
        <div class="input-group margin-bottom-0 display-inline-block search-container">
            <input class="input-group-field float-left" placeholder="Pesquisar no site..." type="text">
            <div class="input-group-button float-left">
                <button class="button" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="cell small-12 hide-for-large">
        <a href="#" class="open-offcanvas"></a>
    </div>
</div>
<div class="grid-x top-bar-bottom">
    <div class="cell small-4 bg-danger"></div>
    <div class="cell small-2 bg-warning"></div>
    <div class="cell small-3 bg-orange"></div>
    <div class="cell small-2 bg-success"></div>
    <div class="cell small-1 bg-primary"></div>
</div>